body {
    min-height: 100vh;
    display: flex;
    background-color: rgb(233, 231, 231);
    display: flex;
    flex-direction: column;
}

.hidden{
    display: none;
}


@media(max-width:544px) {
    section>.categoria {
        width: 90%;
    }

    section>.editarCategory {
        width: 90%;
    }

    section>.reportes {
        width: 90%;
    }
    section>.reportesFiltrados{
        width: 90%;
    }
}
@media(max-width:412px) {
    
   tr>th{
        font-size: 0.8rem;
    }
    div>.totales{
        font-size: 1.5rem;
    }
    div>.totalesMes{
        font-size: 1.5rem;
    }
   
}
   
